{% extends 'base.html' %}
{% load static %}
{% block title %}@i @i Cookie{% endblock %}
{% block content %}
    <div class="flex flex-col items-center">
        <img class="rounded-t-lg pt-10" src="{{ product.image.url }}" alt="" />
        <h1 class="font-sans text-4xl font-bold capitalize text-orange-700 mt-20px py-7">{{ product.name }}</h1>
        <h5 class="text-justify">{{ product.description }}</h5>
        <h6 class="mb-2 text-2xl font-bold tracking-tight text-orange-800 capitalize">RM {{ product.price }}</h6>
        <form action="{% url 'cart:add' product.id %}" method="post">
            {{ cart_product_form.as_p }}
            {% csrf_token %}
            <br>
            <input type="hidden" value="Add to cart">
            <a onclick="this.parentNode.submit();" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-amber-500 rounded-lg hover:bg-amber-600 focus:ring-4 focus:outline-none focus:ring-blue-300 bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">
                Add to Cart &nbsp;
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" />
                </svg>
            </a>
        </form>
    </div>
{% endblock %}
